.main-container {
  max-width: 100%;
}

.mobile-navbar {
  display: none !important;
}

@media (min-width: 450px) {
  .mobile-navbar * {
    font-size: 1.3rem ;
  }
}

@media (max-width: 767px) {
  .standard-navbar {
    display: none !important;
  }
  .mobile-navbar {
    display: flex !important;
  }
}

.ui.text.container {
  max-width: 100% !important;
}

#wrapper1, #wrapper2 {
  width: 100%;
  border: none 0px RED;
  overflow-x: scroll;
  overflow-y:hidden;
}
#wrapper1 {
  height: 20px;
}

#div1 {
  height: 20px;
  /* width: 2500px; */
}

#div2 {
  width: max-content;
  width: 2500px;
  background-color: #88FF88;
  overflow: auto;
}

#div2 th {
  width: min-content;
}
